/* 0px até 657px */

@media (max-width: 657px) {
    .header__icons {
        display: block;
    }

    .header {
        height: 100px;
    }

    .header__icons .fa-x {
        display: none;
    }

    .header__nav {
        display: none;


    }

    .header__nav-item::after,
    .header__nav-item::before {
        display: none;
    }

    .header__nav-list {
        flex-direction: column;
        gap: 20px;
    }

    #menu:checked~.header__nav {
        display: block;
        position: absolute;
        top: 69px;
        right: 0;
        width: 50%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.3);
    }


    #menu:checked~.header__top .fa-x {
        display: block;
    }

    #menu:checked~.header__top .fa-bars {
        display: none;
    }

    .hero {
        height: 150vh;
    }

    .features {
        bottom: -400px;
    }

    .why__us {
        padding-top: 225px;

    }

    .features__list {
        height: 100%;
        flex-wrap: wrap;
    }

    .about__container {
        grid-template: repeat(2, 1fr) / 1fr
    }

    .company__container {
        grid-template: repeat(3, 1fr) / 1fr
    }

    .services__container {
        grid-template: repeat(6, 1fr) / 1fr;
    }
}

@media (min-width: 658px) and (max-width: 920px) {
    .header {
        padding: 30px 10%;
    }

    .header__icons {
        display: none;
    }

    .hero {
        height: 150vh;
    }

    .features {
        bottom: -400px;
    }

    .why__us {
        padding-top: 225px;

    }

    .features__list {
        height: 100%;
        flex-wrap: wrap;
    }

    .about,
    .about__content {
        padding: 25px;
    }

    .about__image::before {
        bottom: 65px;
        right: 45px;
    }

    .about__image::after {
        bottom: 65px;
        right: 75px;
    }

    .company__main {
        /* grid area: inicio-linha, inicio-coluna, fim-linha, fim-coluna */
        grid-area: 1 / 1 / 2 / 3;
    }

    .company__container {
        grid-template: repeat(2, 1fr) / repeat(2, 1fr)
    }

    .services__container {
        grid-template: repeat(3, 1fr) / repeat(2, 1fr)
    }
}



@media (max-width: 992px) {
    .metrics__container {
        grid-template-columns: 1fr;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }

    .metrics__info{
        grid-template-columns: repeat(2,1fr);
        margin-bottom: 30px;
    }

    .metrics__map-container{
        width: 100%;
    }

    .metric{
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .metrics__info{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 992px) {
    .footer__container {
        width: 100%;
        padding: 0 10%;
        flex-wrap: wrap;
        gap: 40px;
    }

    .footer__brand,
    .footer__newsletter {
        width: 45%;
    }
}

@media (max-width: 600px) {
    .footer__container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer__brand,
    .footer__newsletter {
        width: 100%;
    }

    .footer__social-list {
        justify-content: center;
    }

    .footer__newsletter-form {
        width: 100%;
    }
}