.features {
    position: absolute;
    width: 100%;
    z-index: 300;
    background-color: transparent;
    left: 0;
    bottom: -100px;
}

.features__list {
    width: 100%;
    max-width: 1120px;
    /* height: 100%;
    max-height: 200px; */
    background-color: #fff;
    border-radius: 8px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 0 10px rgb(0, 0, 0, 0.2);
}

.features__card {
    width: 220px;
    height: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease;
}

.features__card:hover {
    background-color: #005eff;
    width: 260px;
    height: 260px;
    border-radius: 8px;
}

.features__card>.fa-solid {
    font-size: 2rem;
    margin-bottom: 10px;
}

.features__card .fa-plane {
    transform: rotate(-30deg);
}

.feature__card-title {
    color: #0a1a2f;
    font-weight: bold;
}

.features__card .fa-solid,
.feature__card-subtitle {
    color: #b3b3b3;
}

.features__card:hover .feature__card-title,
.features__card:hover .feature__card-subtitle,
.features__card:hover .fa-solid {
    color: #fff;
}